extends base

block content
    main#video-overview(style="color: black;")
      if user
        .video-heading
          h1 You have accesed the videos for the #{course.courseTitle} course...
        .container
          each video in course.videos
            .video-box
              a(href=`/course/${course.slug}/videos/${video.slug}`)
                img(src=`/thumbnails/${video.thumbnail}.jpeg`, alt="cricket video")
              h3(style="color: black;")= `${video.videoTitle}`
              hr
              p(style="color: black;")= `${video.videoDescription}...`
              //- video(id="videoPlayer" controls style="width: 100%" poster=`/thumbnails/${video.thumbnail}.png` src=`/videos/${video.filename}.mp4`) 
      else 
        h1(style="color: black;") Please log in to view videos