extends base

block content
  h1(style="color: black") You have accesed the videos for the #{course.courseTitle} course
    if user
      each video in course.videos
        main#video-player(style="color: black;")
          .container
            .row
              .col-lg(style="width: 25%; height: auto")
                h4(style="color: black;")= `${video.videoTitle}`
                hr
                p(style="color: black;")= `${video.videoDescription}`
                hr
                video(id="videoPlayer" controls style="width: 100%" poster=`/thumbnails/${video.thumbnail}.png` src=`/videos/${video.filename}.mp4`) 
    else 
      h1(style="color: black;") Please log in to view videos